@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Besley', serif;
    box-sizing: border-box;
}

body {
    background-color: #444;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
}

p {
    font-size: 0.9rem;
}

button {
    font-family: 'Arial', serif;
}

#block {
    background-color: #444;
    height: 35rem;
    width: 45rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#header {
    background-color: rgb(0, 81, 255);
    color: white;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px black solid;
}

#header p {
    text-shadow: 2px 2px 2px black;
}

#main {
    background-color: rgb(232, 239, 255);
    height: 31.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
}

#chat {
    background-color: rgb(232, 239, 255);
    height: 23.5rem;
    width: 45rem;
    overflow-y: scroll;
}

#bottom {
    background-color: #CCC;
    height: 8rem;
    width: 31rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0.5rem;
    gap: 0.5rem;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#type {  /*COMO COLOCAR A MENSAGEM NO TOPO DO TYPE*/
    height: 7.5rem;
    width: 28rem;
    resize: none;
}

#sendButton {
    background-color: rgb(0, 81, 255);
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-top: 0.5rem;
    width: 4.5rem;
    height: 1.9rem;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
}

#sendButton:hover {
    background-color: rgb(0, 51, 160);
}

/*ESTILIZAÇÃO DA DOS CONTAINERS DA MENSAGEM DO JAVASCRIPT*/
.msgContainer {  /*Tem que ser em formato de classe (não tem nenhuma classe com esse nome no HTML)*/
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

.divMessage {
    background-color: white;
    padding: 0.3rem 1rem;
    border: 1px black solid;
}

.options {
    display: flex;
    justify-content: flex-end;
}

.edit {
    background-color: rgb(255, 195, 45);
    border: none;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    margin-right: 0.3rem;
}

.edit:hover {
    background-color: rgb(187, 143, 32);
}

.edit:disabled {
    color: black;
    cursor: default;
}

.edit:disabled:hover {
    background-color: rgb(255, 195, 45);
}

.delete {
    background-color: rgb(255, 46, 46);
    border: none;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    margin-right: 1rem;
}

.delete:hover {
    background-color: rgb(195, 37, 37);
}

.delete:disabled {
    color: black;
    cursor: default;
}

.delete:disabled:hover {
    background-color: rgb(255, 46, 46);
}

.editOptions {
    display: flex;
    flex-direction: column;
}

/*BOTÃO DE CONFIRMAR EDIÇÃO*/
.confirm {
    background-color: rgb(50, 187, 50);
    margin-top: 0.2rem;
    width: 4.5rem;
    height: 1.5rem;
    border-radius: 2px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm:hover {
    background-color: rgb(35, 130, 35);
}

/*BOTÃO DE CANCELAR EDIÇÃO*/
.cancel {
    background-color: white;
    margin-top: 0.5rem;
    width: 4.5rem;
    height: 1.3rem;
    border-radius: 2px;
    border: 1px solid black;
    cursor: pointer;
}

/*.cancel:hover {
    background-color: rgb(255, 69, 69);
}*/

/*RESPONSIVIDADE*/
@media screen and (max-width: 730px) {
    body {
        width: 100%;
    }

    #header {
        width: 100%;
        padding: 1rem;  /*PQ ISSO ATRAPALHA?*/
    }

    #block {
        width: 100%;
    }

    #chat {
        width: 100%;
    }

    #bottom {
        width: 69%;
        padding: 1;  /*PERGUNTAR*/
        justify-content: center;
    }

    #type {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    #bottom {
        width: 100%;
        gap: 0.1rem;
        flex-direction: column;
        align-items: center;
    }

    #type{
        width: 98%;
    }

    #sendButton {
        align-self: flex-end;
        margin-right: 1rem;
        height: 3rem;
    }
}

@media screen and (max-width: 310px) {
    #header {
        height: 5rem;
    }
}